<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-auto h-75 text-center text-lg-left">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#">Contact</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#">Attributions</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#">License</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">© IGEM 2020 KSA Korea</p>
      </div>
      <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-youtube fa-2x fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/script.min.js"></script>
</body>
</html>
