
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>crispy-about</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div class="projects-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><a href="/">CrispyFinder</a></h2>
                <p class="text-center">Crispy searches the following sites to collect the most relevant results</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">CAS-Designer</h3>
                    <p class="description">Based on their recommendation, we collect sequences with an out-of-frame score of 66 or greater.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Crispr-direct</h3>
                    <p class="description">Only the 'highly specific' highlighted sequences are collected from Crispr-direct</p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">CCTop</h3>
                    <p class="description">Sequences that meet CCTop's CRISPRater "HIGH" score are collected.</p>
                </div>
                <div class="col-sm-6 col-lg-4 offset-xl-0 item">
                    <h3 class="name">Crispor</h3>
                    <p class="description">Based on their recommendation, sequences with an MIT specificity score of &gt; 50 are collected.</p>
                </div>
                <div class="col">
                    <article></article>
                    <h1 class="text-center">Citations</h1>
                    <p><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0124633">Stemmer, M., Thumberger, T., del Sol Keyer, M., Wittbrodt, J. and Mateo, J.L.&nbsp;<em>CCTop: an intuitive, flexible and reliable CRISPR/Cas9 target prediction tool.</em>&nbsp;<strong>PLOS ONE (2015)</strong>. doi: 10.1371/journal.pone.0124633</a><br></p>
                    <p><a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkx1268/4754467">Labuhn, M., Adams, F. F., Ng, M., Knoess, S., Schambach, A., Charpentier, E. M., … Heckl, D.&nbsp;<em>Refined sgRNA efficacy prediction improves large- and small-scale CRISPR–Cas9 applications.</em>&nbsp;<strong>Nucleic Acids Research (2017)</strong>. doi: 10.1093/nar/gkx1268</a><br></p>
                    <p>Naito Y, Hino K, Bono H, Ui-Tei K. (2015)<br>CRISPRdirect: software for designing CRISPR/Cas guide RNA with reduced off-target sites.<br><em>Bioinformatics</em>,&nbsp;<strong>31</strong>, 1120-1123.&nbsp;<a href="http://bioinformatics.oxfordjournals.org/content/31/7/1120.full">[Full Text]</a><br></p>
                    <p><br><a href="http://bioinformatics.oxfordjournals.org/content/31/24/4014">Park J., Bae S., and Kim J.-S. Cas-Designer: A web-based tool for choice of CRISPR-Cas9 target sites.&nbsp;<em>Bioinformatics</em>&nbsp;<strong>31</strong>, 4014-4016 (2015).</a><br><br></p>
                    <p><a href="http://bioinformatics.oxfordjournals.org/content/30/10/1473.full">Bae S., Park J., and Kim J.-S. Cas-OFFinder: A fast and versatile algorithm that searches for potential off-target sites of Cas9 RNA-guided endonucleases.&nbsp;<em>Bioinformatics</em>&nbsp;<strong>30</strong>, 1473-1475 (2014).</a><br></p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>